In [1]:
import seaborn as sns
import numpy as np
import pandas as pd

In [13]:
conflict_df=pd.read_csv('conflict_data_rwa.csv')
agriculture_df=pd.read_csv('agriculture-and-rural-development_rwa.csv')
coping_df=pd.read_csv('dbo-copingstrategiesindexes.csv')
economy_df=pd.read_csv('economy-and-growth_rwa.csv')
health_df=pd.read_csv('health_rwa.csv', skiprows=1)
indicators_df=pd.read_csv('indicators_rwa.csv')
social_df=pd.read_csv('social-development_rwa.csv')
labor_df=pd.read_csv('social-protection-and-labor_rwa.csv')
urban_df=pd.read_csv('urban-development_rwa.csv')

In [14]:
health_df

,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
0,Rwanda,RWA,2015,Proportion of women subjected to physical and/...,SG.VAW.1549.ZS,20.70
1,Rwanda,RWA,2015,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,20.40
2,Rwanda,RWA,2010,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,32.70
3,Rwanda,RWA,2005,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,7.30
4,Rwanda,RWA,2000,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,11.70
...,...,...,...,...,...,...
9428,Rwanda,RWA,1994,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,3.18
9429,Rwanda,RWA,1993,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,3.33
9430,Rwanda,RWA,1992,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,3.15
9431,Rwanda,RWA,1991,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,3.04
9432,Rwanda,RWA,1990,"Incidence of HIV, ages 15-24, male (per 1,000 ...",SH.HIV.INCD.YG.MA.P3,2.99

In [12]:
health_df.columns = health_df.columns.droplevel(1)
health_df

IndexError: Too many levels: Index has only 1 level, not 2